@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
    max-width: 1240px;
    width: 95%;
    margin: auto;
}
.header{
    margin-top: 34px;
}
.header-first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.logo-div{
    font-size: 36px;
    font-weight: 600;
    color: #C92071;
    display: flex;
    align-items: center;
}
.logo-div img{
    margin: 8px;
}
.search-bar-div{
    display: flex;
    position: relative;
    align-items: center;

}
.search-bar{
    border: none;
    width: 603px;
    height: 64px;
    background-color: #47474715;
    border-radius: 8px;
    font-size: 17px;
    padding-left: 20px;
}
.search-bar-img{
    position: absolute;
    right: 0;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.sign-in{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.80px;
}
.sign-in a{
    color: #474747;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C92071;
    border-radius: 8px;
    width: 123px;
    height: 43px;
    font-size: 14;
    font-weight: 700;
}
.login a{
    text-decoration: none;
    color: #F5F5F5;
}
.header-menu{
    margin-top: 61px;
    margin-bottom: 30px;
    width: 500px;
}
.header-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}
.header-menu ul li a{
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    color: #474747;
}
.header-menu ul li a:hover{
    border-bottom: 2px solid #C92071;
    color: #C92071;
    font-weight: 700;
}
.main-nav{
    display: flex;
    padding-left: 12%;
    padding-right: 10%;
    background-color: #F5F5F5;
}
.main-title{
    width: 510px;
    display: flex;
    flex-direction: column;
    margin-top: 124px;
}
.main-nav .main-title h2{
    color: #F6AA1C;
    font-weight: 700;
    font-size: 16px;
}
.main-nav .main-title h3{
    font-weight: 800;
    font-size: 64px;
    color: #1F1F1F;
}
.main-nav .main-title h4{
    color: #474747;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
}
.main-nav .main-title a{
    width: 220px;
    height: 48px;
    background-color: #C92071;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}
.first-sec{
    margin-top: 38px;
    justify-content: space-between;
    flex-direction: row;
    
}
.first-sec-title{
    color: #474747;
    margin-bottom: 20px;
}
.cards-position{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.card-container{
    width: 220px;
    height: 100%;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-card{
    background-color: #D8E3F2;
    border-radius: 8px;
    width: 33.3%;
    height: 251px;
    display: flex;
    position: relative;
    overflow: hidden;
    
}
.section-card img{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    /* border-radius: 0px 0px 8px 0px; */
    
}
.section-card .card-container h3{
    background-color: #E7FF86;
    border-radius: 29px;
    width: 96px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    color: #474747;
}
.section-card .card-container h2{
    color: #1F1F1F;
    font-weight: 700;
    font-size: 32px;
}
.section-card .card-container a{
    width: 153px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 8px;
    color: #C92071;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1;
}
.second-sec{
    padding-left: 30%;
    padding-right: 30%;
    height: 300px;
}
.second-sec-title{
    font-weight: 700;
    font-size: 24px;
    color: #474747;
    display: flex;
    justify-content: center;
}
.logos-position{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
    
}
.section-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 178px;
    font-weight: 700;
    font-size: 14px;
    color: #474747;
    
}
.section-logo div img:first-child{
    height: 154px;
    width: 154px;
}
.third-sec{
    padding-left: 12%;
    padding-right: 12%;
}
.third-sec-text{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.third-sec-title{
    font-weight: 700;
    font-size: 24px;
    color: #474747;
}
.third-sec-subtitle {
    font-weight: 400;
    font-size: 18px;
    color: #C92071;
    text-decoration: none;
}
.products-position{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-sec{
    height: 500px;
    width: 295px;
}
.product-box{
    width: 292px;
    height: 321px;
    border-radius: 8px;
    position: relative;
    box-shadow: 6px 16px 30px rgba(105, 98, 98, 0.05);
}
.product-box img{
    position: absolute;
    right: 20px;
    top: 40px;
}
.product-type{
    margin-top: 18px;
    font-weight: 700;
    font-size: 12px;
    color: #8F8F8F;
}
.product-name{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.75px;
    color: #474747;
    margin-top: 9px;
}
.product-prices{
    display: flex;
    width: 140px;
    justify-content: space-between;
    height: 38px;
    margin-top: 9px;
}
.h3-off{
    text-decoration: line-through;
    font-weight: 400;
    font-size: 24px;
    color: #8F8F8F
}
.h3-price{
    font-weight: 700;
    font-size: 24px;
    color: #1F1F1F;
}
@media (max-width: 1240px) {
    .cards-position{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .section-card{
        width: 40%;
    }
}